<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

<style>
    img {
        width: 20%;
    }
</style>

<body>
    <img src="{{ img_logo }}" alt="">
    <h1>@{{ name }}</h1>
    <img src="{{ img_pfp }}" alt="">
    <img src="{{ img_nouns }}" alt="">
    <img src="{{ img_verb }}" alt="">

    {% if top_mentions %}
    <h3>Top 5 Mentions</h3>
    <ol>
        {% for mention in top_mentions %}
        <li>
            <a href="https://twitter.com/{{ mention[0][1:] }}">{{ mention[0] }}</a>, {{ mention[1] }}.
        </li>
        {% endfor %}
    </ol>
    {% endif %}
    {% if top_tags %}
    <h3>Top 5 Hashtags</h3>
    <ol>
        {% for tag in top_tags %}
            <li>
                <a href="https://twitter.com/search?q=%23{{ tag[0][1:] }}">{{ tag[0] }}</a>, {{ tag[1] }}.
            </li>
        {% endfor %}
    </ol>
    {% endif %}
</body>
</html>